<div class="container">
  <div class="jumbotron">
    <h1>Time Tracker</h1>
  </div>

  <div class="jumbotron">
      <button class="btn btn-success"
              type="submit" (click)="onQuickStart()">Quick start
      </button>
  </div>

  <div class="input-group mb-3">
    <form [formGroup]="tacheForm" (ngSubmit)="onSaveTache()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title" class="form-control" placeholder="Nouvelle tache" formControlName="title">
      </div>
      <button class="btn btn-success"
              type="submit">Enregistrer
      </button>
    </form>
<!--    <input type="text" class="form-control" placeholder="Tâche" #titreTache>-->
<!--    <div class="input-group-append" (click)="ajouterTache(titreTache)">-->
<!--      <span class="input-group-text">-->
<!--        <i class="fa fa-lg fa-plus-circle "></i>-->
<!--      </span>-->
<!--    </div>-->
  </div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let tache of taches; let i = index">
      <span (click)="demarerStopperTache(tache)">
        <i class="fa fa-lg" [ngClass]="tache.estDemaree ? 'fa-pause-circle-o' : 'fa-play-circle-o'"></i>
      </span>
        {{tache.titre}} {{tempsDynamique(tache, i)}}
      <span (click)="modifierTache(tache)">
        <i class="fa fa-edit"></i>
      </span>
      <span (click)="supprimerTache(tache)">
        <i class="fa fa-remove"></i>
      </span>
<!--      {{tache.titre}} {{tache.temps}}-->
    </li>
  </ul>
</div>
